<script type="text/javascript">
    var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open("GET", "https://discord.com/api/guilds/935805859840290876/embed.json", true);
        xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var d = JSON.parse(this.responseText);
                document.getElementById("discordCount").innerHTML = d.presence_count-1;
            }
        };
    xmlHttpRequest.send();
</script>