<script type="text/javascript">
    var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open("GET", "https://discord.com/api/guilds/935805859840290876/embed.json", true);
        xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var d = JSON.parse(this.responseText);
                document.getElementById("discordCount").innerHTML = d.presence_count-2;
            }  
        };  
    xmlHttpRequest.send();
</script>

<script type="text/javascript">
    var IGSponso_690f1aa4b97f1661 = {
        igGodfather: 'AG_603951b5e7bbc',
        init: function() {
            var self = this;
            self.igUrl = self.igJsHost + '//fr.igraal.com/parrainage/js/ig.js' + '?f=' + self.igFormat + '&l=' + self.igLinks + '&g=' + self.igGodfather + '&b=' + self.igBn + '&s=' + self.igSize + '&d=' + self.igDivId + '&c=' + self.igCatId + '&i=' + self.igUid + '&h=' + self.igDomain + '&r=' + self.igRand;
            self.igElem = document.createElement('scr' + 'ipt');
            self.igElem.setAttribute('type', 'text/javascr' + 'ipt');
            self.igElem.setAttribute('src', self.igUrl);
            self.igOldEvt = window.onload;
            window.onload = function() {
                if (self.igOldEvt) self.igOldEvt();
                document.body.appendChild(self.igElem);
            }
        },
        igUid: '690f1aa4b97f1661',
        igLinks: '383',
        igFormat: 'img',
        igBn: '49',
        igSize: 'k8-2i',
        igDivId: 'ig-690f1aa4b97f1661',
        igCatId: 'root',
        igDomain: document.domain,
        igRand: Math.round((Math.random() * 10000)),
        igJsHost: (("https:" == document.location.protocol) ? "https:" : "http:"),
        igUrl: '',
        igElem: null
    };
IGSponso_690f1aa4b97f1661.init();
</script>
