<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.comments.utterances.repo }}"
        data-repo-id="R_kgDOGs2o7w"
        data-category="General"
        data-category-id="DIC_kwDOGs2o784CA6t7"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://utteranc.es/stylesheets/themes/github-dark/utterances.css"
        data-lang="fr"
        crossorigin="anonymous"
        async>
</script>

<style>
    .utterances {
        max-width: unset;
    }
</style>

<script>
    function setUtterancesTheme(theme) {
        let utterances = document.querySelector('.utterances iframe');
        if (utterances) {
            utterances.contentWindow.postMessage(
                {
                    type: 'set-theme',
                    theme: `github-${theme}`
                },
                'https://giscus.app'
            );
        }
    }

    addEventListener('message', event => {
        if (event.origin !== 'https://giscus.app') return;
        setUtterancesTheme(document.documentElement.dataset.scheme)
    });

    window.addEventListener('onColorSchemeChange', (e) => {
        setUtterancesTheme(e.detail)
    })
</script>
