<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
        <article>
            <a href="{{ $link.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-time">
                        <p>N'hésitez pas à nous suivre sur notre chaîne YouTube ; nous sommes actuellement <span id="subscriberCount">0</span> abonnés à la chaîne !</p>
                    </footer>
                </div>
        
                {{ with $link.image }}
                    <div class="article-image">
                        <img src="{{ . }}" loading="lazy">
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>