<meta name="theme-color" content="#c80000">
<link rel="dns-prefetch" href="https://discord.com/">
<link rel="dns-prefetch" href="https://www.googleapis.com/">
<link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
<style>
		:root {
		    --article-font-family: "Outfit",var(--base-font-family);
		}
</style>

<script>
		(function () {
			const customFont = document.createElement('link');
			customFont.href = "https://api.fonts.coollabs.io/css2?family=Outfit&display=swap";
			customFont.type = "text/css";
			customFont.rel = "stylesheet";
			document.head.appendChild(customFont);
		}());
</script>
