<meta name="theme-color" content="#c80000">
<link rel="dns-prefetch" href="https://discord.com/">
<link rel="dns-prefetch" href="https://www.googleapis.com/">
<style>
		/// Overwrite CSS variable
    :root {
        --article-font-family: "Roboto Serif", var(--base-font-family);
    }
</style>

<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://api.fonts.coollabs.io/css2?family=Roboto+Serif&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>
